@use '@angular/material' as mat;

.review-card {
    margin-bottom: 1em;

    .review-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .review-replies {
        margin-top: 1em;
        .review-reply {
            box-shadow: none;
            background-color: var(--mdc-elevated-card-container-color, var(--mat-sys-surface-container-low));
        }
        .review-reply-title {
            justify-content: flex-end;
        }
    }
}