@use '@angular/material' as mat;

.review-card {
    margin-bottom: 1em;

    .review-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .review-replies {
        margin-top: 1em;
        .review-reply-title {
            justify-content: flex-end;
        }
    }
}